# Example contents of the '/etc/environment' file
PUID=1000
PGID=999
TZ=Australia/Sydney
USERDIR=/home/<SOMETHING>
MYSQL_ROOT_PASSWORD=<SOMETHING>
VPN_PROVIDER=NORDVPN
VPN_USER=<SOMETHING>
VPN_PASS=<SOMETHING>
TRANSMISSION_USER=transmission
TRANSMISSION_PASS=<SOMETHING>
TAUTULLI_API_KEY=<SOMETHING>
SONARR_API_KEY=<SOMETHING>
RADARR_API_KEY=<SOMETHING>
PLEX_CLAIM=<SOMETHING>
LOCAL_SUBNET=10.0.0.0/24
TRANSMISSION_WHITELIST="127.0.0.1,10.0.0.*"
SERVER_IP=<SOMETHING>
VARKEN_USER=<SOMETHING>
VARKEN_PASS=<SOMETHING>
PHPMYADMIN_PORT=8000
INFLUXDB_PORT=8086
JACKETT_PORT=9117
RADARR_PORT=7878
SONARR_PORT=8989
GRAFANA_PORT=3000
TRANSMISSION_PORT=9091
PLEX_PORT=32400
PLEX_WEB_TOOLS_PORT=32400
BAZARR_PORT=6767
TAUTULLI_PORT=8181
PORTAINER_PORT=9000
ORGANIZR_PORT=9001
