# Get this from cloudflare using your big_brain
# api key may not be required...
api_key = "XXXXXXXXXXXXXXXXXXXXXXXXX"
auth_key = "XXXXXXXXXXXXXXXXXXXXXXXXX"
auth_email = "example@example.com"
domain = "example.com"
# subdomain A record to update with current WAN IP
record = "home"