# Get these from cloudflare using your big_brain
auth_key = "XXXXXXXXXXXXXXXXXXXXXXXXX"
auth_email = "example@example.com"
domain = "example.com"
# subdomain A record to update with current WAN IP
record = "home"